@import '../../../node_modules/swiper/swiper.css';
@import '../../../node_modules/swiper/modules/navigation.css';
@import '../../../node_modules/swiper/modules/pagination.css';

.vp-content {
  max-width: 1200px !important;
  margin-left: auto;
  margin-right: auto;
}

:root{
    --content-width: 1200px;
}

@media (max-width: 719px) {
  .vp-navbar .vp-site-name,
  .vp-site-name {
    display: inline-block !important;
    font-size: 18px !important;
    margin-left: 8px !important;
    vertical-align: middle !important;
    max-width: 60vw !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
}