@import '../../../node_modules/swiper/swiper.css';
@import '../../../node_modules/swiper/modules/navigation.css';
@import '../../../node_modules/swiper/modules/pagination.css';

.vp-content {
  max-width: 1200px !important;
  margin-left: auto;
  margin-right: auto;
}

:root{
    --content-width: 1200px;
}

@media (max-width: 719px) {
  .vp-navbar .vp-site-name,
  .vp-site-name {
    display: inline-block !important;
  }
  // 包含vp-content属性的选择器
  .vp-page [vp-content]  {
    max-width: 100% !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .vp-feature{
    padding: 0 !important;
  }

  .vp-page-meta {
    display: none !important;
  }
}