
.vp-content {
  max-width: 1200px !important;
  margin-left: auto;
  margin-right: auto;
}

:root{
    --content-width: 1200px;
}

@media (max-width: 719px) {
  .vp-navbar .vp-site-name,
  .vp-site-name {
    display: inline-block !important;
  }
  // 包含vp-content属性的选择器
  .vp-page [vp-content]  {
    max-width: 100% !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .vp-feature{
    padding: 0 !important;
  }

  .vp-page-meta {
    display: none !important;
  }
}

/* Swiper箭头仅在鼠标悬停时显示 */
.swiper-button-next,
.swiper-button-prev {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}
.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
  opacity: 1;
  pointer-events: auto;
}

.swiper, .swiper-wrapper, .swiper-slide {
  min-height: 220px; /* 你可以根据实际内容调整高度 */
  box-sizing: border-box;
}
.swiper-slide > div {
  min-height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.theme-default-content pre {
  max-width: 100%;
  box-sizing: border-box;
}

*{
  box-sizing: border-box;
}

.vp-page{
  overflow-x: hidden;
}