---
layout: default
---
<div class="row">
    <div class="content col-md-9">
        <div class="card mb-2">
            <div class="card-body">
                <header>
                    <h2>{{ page.title }}</h2>
                    <p class="post-meta">
                        <span class="octicon octicon-clock"></span> {{ page.date | date: "%b %-d, %Y" }}{% if
                        page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
                    </p>
                    <p class="post-tag">
                        <span>{% for cat in page.categories %}<a
                                href="{{ '/category' | prepend: site.baseurl | prepend: site.url }}/#{{ cat }}"><span
                                    class="octicon octicon-list-unordered"></span>&nbsp;{{ cat }}</a>{% endfor %}</span>
                        <span>{% for tag in page.tags %}
                            <a class="word-keep"
                                href="{{ '/tags' | prepend: site.baseurl | prepend: site.url }}/#{{ tag }}"><span
                                    class="octicon octicon-tag"></span>&nbsp;{{ tag }}</a>
                            {% endfor %}
                        </span>
                    </p>
                </header>
                <hr class="boundary">
                <article>
                    {{content}}
                </article>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-2">
            <div class="card-body">
                <div class="list-group mb-2">
                    <a class="list-group-item active">Tags<span class="float-end">🎇</span></a>
                    {% for tag in page.tags %}
                    <a class="list-group-item"
                        href="{{ '/tags' | prepend: site.baseurl | prepend: site.url }}#{{ tag }}">{{ tag }}</a>
                    {% endfor %}
                </div>

                <div class="list-group mb-2">
                    <a class="list-group-item active">Related<span class="float-end">🎇</span></a>
                    {% for p in site.posts %}
                        {% for cat in p.categories %}
                            {% if page.categories == cat %}
                            <a class="list-group-item" href="{{ p.url | prepend: site.baseurl | prepend: site.url }}">
                                {{ p.title }}
                            </a>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include all.html %}
    </div>
</div>